body {
    margin: 0;
    overflow-x: hidden;
    overflow-y: hidden;
}

canvas {
    display: block;
}

.container {
    display: inline-grid;
    padding: 0;
    margin: 0;
    grid-template-columns: 200px auto 200px;
    grid-template-rows: none;
    grid-template-areas: "left center right";
}

.item-left {
    grid-area: left;
    padding: 1em;
}

.item-center {
    grid-area: center;
}

.item-right {
    grid-area: right;
    padding: 1em;
}

#startOver {
    display: none;
}
